@page
@model IndexModel
@{
    ViewData["Title"] = "درخواست ها";
}


<table class="table table-info table-striped table-hover w-100">
    <tr>
        <td>شناسه درخواست</td>
        <td>عنوان</td>
        <td>توضیحات</td>
    </tr>
    @foreach (var ticket in Model.Tickets)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Title</td>
            <td>@ticket.Description</td>
        </tr>
    }
</table>